<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @preferred_name.name %>
</p>


<%= link_to 'Edit', edit_preferred_name_path(@preferred_name) %> |
<%= link_to 'Back', preferred_names_path %>
